.govbar-links {
  display: none !important;
}

.govbar-logo {
  float: left !important;
}

@media (min-width: 45em) {
  .govbar-logo {
    float: right !important;
  }
}


#govbar{
    background:#fff;
    border-bottom:1px solid #cccaca;
    font-family:Arial,Helvetica,sans-serif;
    position:relative;
    z-index:2;
    *zoom:1;
    margin:0;
    padding:0;
}

#govbar:after{
    clear:both;
    content:'';
    display:table
}
#govbar img{
    float:left;
    height:40px;
    padding:3px 8px;
    vertical-align:middle
}


