body {
    background-attachment:fixed;
    background-position: bottom right;
    -webkit-background-size: cover;

    margin-left: 0px;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: cover;

    line-height: 1.4;
    font-size: 15px;
}

#header {
    /* background: #f4f4f4; */
    background: #ffffff;
    padding: 20px;
    height: 60px;
}

.message-box.warning {
    margin-left: 50px;
}


.frontpage-menu {
    border-top: 1px solid #d0cdcd;
    border-bottom: 1px solid #d0cdcd;
}

.wrap{
    width: 440px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;

}

body[id^="admin:"] .wrap, body[id^="cron:"] .wrap, body[id^="metarefresh:"] .wrap, body[id^="oidc:"] .wrap {
    width: 100%;
}

.content {
    float:left;
    width: 520px;
}

#content {
    padding-bottom: unset;
}

#loginBranding {
    width: calc(100% - 520px);
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
    position: fixed;
}

body[id^="admin:"] #loginBranding, body[id^="cron:"] #loginBranding, body[id^="metarefresh:"] #loginBranding, body[id^="oidc:"] #loginBranding, body[id^="admin:"] #hint, body[id^="cron:"] #hint, body[id^="metarefresh:"] #hint , body[id^="oidc:"] #hint {
    visibility: hidden;
}

#branding {
    background-image: url(/module.php/IAM/assets/resources/loginBG-2024.jpg);
    height: 100%;
    margin-left: 0px;


    background-repeat: no-repeat;
    background-size: cover;
    /* 
    background-position: bottom right;
    background-color: inherit;
    */
    background-color: black;
    background-position: calc(50% + 380px) center;
    -webkit-background-size: cover;
}

#hint {
    width: 600px;
    position: absolute;
    height: auto;
    border: 10px;
    margin: 30px;
    bottom: 0;
    right: 0;
    margin-right: 540px;
    padding: 10px;
    background-color: #f4f4f4;
    border-left: .3125rem solid #74acae;
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}



body[id^="admin:"] .content, body[id^="cron:"] .content, body[id^="metarefresh:"] .content, body[id^="oidc:"] .content{
    width: 88% !important;
    max-width: 1200px;
    left: 50px;
}

body[id*=":login"] .content, body[id*="authOpenOTP:"] .content, body[id*="IAM:"] .content, body[id*="consent:"] .content, body[id*="core:"] .content, body[id*="multiauth:"] .content, body[id*="authorize:"] .content, body[id*="simpletotp:"] .content, body[id="selectidp-links"] .content, body[id="error"] .content, body[id*="saml:"] .content {
    text-align: center;
    float: right;
}

body[id*=":login"] .wrap img, body[id^="simpletotp:authenticate"] .wrap img, [id*=":edukey"] .wrap img {
    float: left;
    margin: 5px 15px 5px 0px;
}

#loginheader{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#timerheader{
    width: 270px;
    margin-left: auto;
    padding-bottom: 40px;
    height: 80px;
}

.pure-button {
    border-radius: 4px !important;
    width: 150px;
}


body[id="selectidp-links"] .pure-button{
    width: 320px;
    height: 205px;
    margin: 10px;
    background: white;
    border: 1px solid #AAA;
    white-space: normal;
    color: gray;
    padding: 0.5em 1.7em;
}
body[id="selectidp-links"] .pure-button:hover {
    background-color: #fafafa;
    transition: 0.5s border 0.5s;
    color: #444;
    border: 1px solid #333;
}

body[id="selectidp-links"] .idpIcon{
    margin: 25px;
}

body[id="selectidp-links"] .pure-button.highlighted {
    box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px, rgba(60, 64, 67, 0.25) 0px 2px 6px 2px;
}

div[id="idSelection"] .pure-button{
    width: 120px;
    height: 30px;
    margin: 0px;
    background: #db0100;
    border: none;
    color: #fff;
}
div[id="idSelection"] .pure-button:hover {
    background-color: darkgray;
    transition: none;
    color: #444;
    border: none;
    color: #fff;

}
div[id="idSelection"] .idpIcon{
    margin: 25px;
}

.pure-button:has(#idSelection) {
    min-height: 260px;
}


button[name="idp_urn:x-auth-education-lu:auth:adfs"] {
    /* background-color: #3391ff17 !important;
    color: #00000091 !important;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5px !important;
    max-width: 500px;
    margin-top: 10px !important;
    margin-right: auto !important;
    margin-bottom: 10px !important;
    margin-left: auto !important;
    text-align: left;
    height: 70px !important;
    padding-left: 5px !important;
}

button[name="idp_urn:x-auth-education-lu:auth:adfs"]:hover  {
    background-color: #fafafa !important;
    transition: 0.5s border 0.5s !important;
    color: #444 !important;
    border: 1px solid #333 !important;
}

button[name="idp_urn:x-auth-education-lu:auth:adfs"] .idpIcon {
    margin: 0px;
}

button[name="idp_urn:x-auth-education-lu:auth:adfs"] .idpIcon img {
    width: 50px !important;
    height: auto;
}

/* Temp */
button[name="idp_urn:x-auth-education-lu:auth:adfs"] {
    position: relative;
    cursor: pointer;
}
button[name="idp_urn:x-auth-education-lu:auth:adfs"]::after {
    content: "Only for test users!\ANot working on all devices!";
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #db0100;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    white-space: pre;
}
button[name="idp_urn:x-auth-education-lu:auth:adfs"]:hover::after,
button[name="idp_urn:x-auth-education-lu:auth:adfs"]:hover::before {
    opacity: 1;
}
/* --- */


#idSelection input{
    padding-top: 10px;
}

body[id="consent:consentform"] .pure-button{
    margin-right: 100%;
    margin-bottom: 10px;
}

body[id="core:logout-iframe"] .pure-button{
    white-space: normal;
    word-break: break-word;
    height: auto;
    line-height: 1.4;
    padding: 0.5em 1em;
    width: 70%;
    margin-bottom: 15px;
}

body[id="consent:consentform"] h3, body[id="consent:noconsent"] h3, body[id*="IAM:"] h3 {
    font-weight: bold;
}
body[id="consent:consentform"] table {
    font-size: small;
}

body[id="consent:noconsent"] .pure-button{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.message-box.info {
    background-color: #f4f4f4;
    border-left-color: #ADD8E6;
}


#multiauth
.authsource input {
    float: left;
    min-width: 260px;
    max-width: 295px;
    width: 100%;
    height: 160px;
    padding: 15px;
    margin: 8px 45px;
    border: 1px solid #AAA;
    text-align: center;
}

#foot {
    bottom: 0;
    width: 100%;
    width: inherit;
}


#footer {
    background: inherit;
    color: #010101;
}

#footer a, #footer a:visited {
    color: #010101;
}

.copyrights a:link {
    text-decoration: none;
}
.copyrights a:visited {
    text-decoration: none;
}
.copyrights a:hover {
    text-decoration: none;
}
.copyrights a:active {
    text-decoration: none;
}

#idpIframe iframe {
    height: 675px;
    width: 100%;
}

.code-box pre {
    white-space: pre-wrap;
}

div[id="idSelection"] .login-form-submit {
    margin-top: 2ex;
}

h3 {
    font-weight: bolder;
    color: #2e3436c4;
}


@media handheld, only screen and (max-height: 950px) and (min-width: 960px), only screen and (max-device-heigth: 950px) and (min-width: 960px) {
    .content {
        width: 760px;
    }
    #loginBranding {
        width: calc(100% - 760px);
    }
    #idpForm div {
        float: left;
    }
    #idpIframe iframe {
        height: 480px;
    }
    .wrap{
        width: 700px;
    }
    #hint {
        margin-right: 790px;
    }
    .idpIcon, .pure-control-group {
        float: none !important;
    }
    div[id="idSelection"] .pure-control-group {
        width: 50%;
        float: left !important;
    }
    div[id="idSelection"] .login-form-submit {
        margin-top: 3px;
    }
    .pure-button:has(#idSelection) {
        min-height: unset;
    }

    button[name="idp_urn:x-auth-education-lu:auth:adfs"] {
        margin-left: 10px !important;
    }
}

@media handheld, only screen and (max-device-height: 740px), only screen and (max-height: 740px) {
    .content{
        right: 0px;
        /* width: 100%;*/
        padding: 0px;
        border-radius: 0px;
        top: 0px;
        height: auto;
    }
    #govbar {
        display: none;
    }

}

@media handheld, only screen and (max-width: 540px), only screen and (max-device-width: 540px), only screen and (max-device-height: 540px) {
    .content{
        right: 0px;
        width: 100%;
        padding: 0px;
        border-radius: 0px;
        top: 0px;
        height: auto;
    }
    .logospace img {
        width: 95%;
    }
    #footer {
        padding-top: 2px;
    }
    #govbar {
        display: none;
    }
    #idpIframe iframe {
        height: 680px;
    }
    .wrap{
        width: 90%;
    }
}

@media only screen and (max-width: 1180px), only screen and (max-device-width: 1180px) {
    #hint {
        visibility: hidden;
    }
}

@media only screen and (max-width: 480px) {
    .pure-form input:not([type]), .pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"], .pure-form input[type="url"], .pure-form input[type="date"], .pure-form input[type="month"], .pure-form input[type="time"], .pure-form input[type="datetime"], .pure-form input[type="datetime-local"], .pure-form input[type="week"], .pure-form input[type="number"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="color"], .pure-form label {
        display: unset;
    }

}